@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgb(146, 145, 145);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;

}
  
header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
 
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;   
    padding-left: 30px;
    font-size: 3vw;
} 

section > p{
    padding-bottom: 2em ;
}

section.normal{
    background-color: rgb(192, 192, 252);
    color: black;
}

section.imagem{

    background-color: rgb(0, 0, 252);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(46, 44, 44, 0.74);
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(10, 19, 114, 0.555);
    text-shadow: 1px 1px 0px  black;
    

}
section#img01{
    background-image: url('../imagem/butterfly-g8826584ec_1920.jpg');
    background-position: left 65% top 50%;
}
section#img02{
    background-image: url('../imagem/a-book-gccced64d5_1920.jpg');
    background-position: left 50%;
}

footer{
    background-color: black;
    color: white;
    text-align:center;
    padding: 10px;
}